* {
    font-family: Verdana, sans-serif;
}

body {
    background-color: #000000;
    color: #ffffff;
    /*display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;*/
    text-align: center;
    margin: auto;
}
h2 { 
    font-size: 42px; 
    font-weight: 300;
}

h3,
span {
    color: gray;
    font-size: 21px;
}

h5 {
    font-size: 16px;
}

/*Header*/
header h2{
    font-size: 50px;
    text-align: center;
    font-weight: normal;
}

/* Content */

.download-excursion {
    text-align: center;
}

.download-excursion a{
    color: aquamarine;
}

/*.video-container {
    background-color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
}
*/
.travel-excursion {
    text-align: center;
}

.img-container {
    text-align: center;
    padding-top: 20px;
}

footer p {
    text-align: right;
}

@media only screen and (max-width: 800px) {


    body {
        text-align: center;
        font-size: 11px;
        margin: auto;
    }

    h2 { 
        font-size: 30px; 
    }

    h3,
    span {
        font-size: 15px;
    }

    /*Header*/
    header h2{
        font-size: 40px;
    }

    .travel-excursion img {
        max-width: 100%;
    }

    .excursion-video video {
        min-height: 100%;
        min-width: 100%;
    }
}